@{
	import (
		"strings"
		"github.com/lab259/go-my-ast-hurts"
	)
	var field *myasthurts.Field
	var tag myasthurts.TagParam
	var value interface{}
-}
@:if @value == nil {
	errs = append(errs, NewError("@field.Name", "@tag.Value"))
}